/* Gaya dasar untuk elemen-elemen HTML */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 20px;
  }
  
  header h1 {
    color: #fff;
    margin: 0;
  }
  
  main {
    padding: 40px;
  }
  
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
  }
  